/* Step 2 */
body {
    font-family: "Poppins", serif;
    background-image: url("concrete_seamless.png");
    background-color: #f1f1f1; /*Make this backup color?*/
}
/* Step 7 & 8 */
.card {
    display: flex;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Steps 11 - 13 */

@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-flow: nowrap;
       justify-content: space-between;

    }

    .nav_links {
        flex-direction: row;
    }

    /* Step 12*/

    .card {
        flex-basis: 275px;
    }

    .pricing {
        align-items: center;
    }
}

@media all and (prefers-reduced-motion: reduce) {}

@media print {}